* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

@mixin flex {
    display: flex;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin flex-left {
    justify-content: left;
    align-items: center;
}

.txt-align-center {
    text-align: center
}

.flex {
    &__center {
        @include flex;
        @include flex-center;
    }
    &__left {
        @include flex;
        @include flex-left;
    }
}

.select {
    &__container {
        margin: 20px;
        margin-left: 5%;
    }
}

// ----------Table

.table {
    width: 90%;
    border: solid 1px #000000;
    border-collapse: collapse;
    min-width: 1600px;
    &-td {
        display: flex;
        flex-direction: column;
        p {
            width: 300px;
        }
        &__img {
            width: 300px
        }
    }
}

.table__wrapper {
    @include flex;
    @include flex-center;
}

.tr-th {
    :hover {
        background-color: rgb(124, 124, 124);
    }
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

table {
    border-collapse: collapse;
    margin: 0px auto 50px;
    padding: 0;
    width: 650px;
}

table tr {
    background-color: #fff;
    border: 1px solid #bbb;
    padding: .35em;
}
table th,
table td {
    padding: 1em 10px 1em 1em;
    border-right: 1px solid #bbb;
}
table th {
    font-size: .85em;
    cursor: pointer;
}

table th::before, table th::after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
}

table th::before {
    border-bottom-color: #aaa;
    margin-top: -10px;
}
table th::after {
    border-top-color: #aaa;
    margin-top: 2px;
}

table th.before::before {
    border-bottom-color: #444;
}
table th.after::after {
    border-top-color: #444;
}

table thead tr{
    background-color: #eee;
}
.txt{
    text-align: left;
    font-size: .85em;
}
.price{
    text-align: right;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
        width:100%
    }
    table th{
        background-color: #eee;
        display: block;
        border-right: none;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #bbb;
        display: block;
        font-size: .8em;
        text-align: right;
        position: relative;
        padding: .625em .625em .625em 4em;
        border-right: none;
    }

    table td::before {
        content: attr(data-label);
        font-weight: bold;
        position: absolute;
        left: 10px;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.no-event {
    pointer-events: none;
}